.main-header{
    height:100px;
    line-height: 100px;
    background-color: rgb(97, 205, 248);
}

.logo{
    height: 100px;
    line-height: 100px;
}

.logo{
    img{
        vertical-align: middle;
        height: 60px;
    }
}