{#
/**
 * @file
 * Renders a moderation alert for the Questions and Answers module.
 *
 * Available variables:
 * - message: the message alert.
 *
 * @ingroup themeable
 */
#}

<div class="moderation-alert">{{ message }}</div>
