{#
/**
 * @file
 * Renders a notification email for a new question.
 *
 * @ingroup themeable
 */
#}
<p>Hello!</p>
<p>A new question has been asked at [site:name]. Please review the question and see if you can provide an answer.</p>
<p>[question:entity-link]</p>
<p><strong>Question:</strong> [question:question]</p>
<p>- The team at [site:name]</p>
