{#
/**
 * @file
 * Renders a subscription notification email for a subscribed question.
 *
 * @ingroup themeable
 */
#}
<p>Hello!</p>
<p>You previously subscribed to receive an alert when your question about [question:entity-link] was answered. The latest post is shown below.</p>
<p><strong>Question:</strong> [question:question]</p>
<p><strong>Answer:</strong> [answer:answer]</p>
<p>- The team at [site:name]</p>
<p style="font-size:10px;">You are receiving this alert as you previously subscribed to this question through <a href="[site:url]">[site:name]</a>. If you no longer wish to receive these notifications. Please <a href="[questions-answers:unsubscribe-link]">click here to unsubscribe</a>.</p>
