{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{%
  set classes = [
    'w3-margin-top',
    'w3-content',
    'w3-padding-large',
    'w3-theme-l4',
  ]
%}
<form{{ attributes.addClass(classes) }}>
  {{ children }}
</form>
